{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<table class='table'>
        <tr>
            <th>Nom de la catégorie</th>
            <th>Action</th>
        </tr>
        {% for category in mesCategoriesExistante %} {#} boucle pour afficher les catégories existantes de ma table mesCategoriesExistante, category est une variable que l'on a inventé qui représente chaque élément de ma table mesCategoriesExistante
        on va donc boucler sur chaque élément de ma table mesCategoriesExistante et pour chaque élément, on va afficher son nom et une action (modifier ou supprimer) #}
            <tr>
                <td>
                {{ category.name }} {#} on affiche le nom de la catégorie en utilisant la syntaxe {{ }} qui permet d'afficher une variable en twig,
                 category.name permet d'accéder à la propriété name de l'objet category#}
                </td>
                <td>
                    <a href="{{ path('app_category_update', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('app_category_delete', {'id': category.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            <tr>
        {% else %}
            <p>Aucune catégorie existante</p>
        {% endfor %}
    </table>
    <a href="{{ path('app_category_new') }}" class="btn btn-success">Ajouter une catégorie</a>
{% endblock %}
